# Environment Configuration
NODE_ENV=development
PORT=5000

# Security
CORS_ORIGIN=http://localhost:3000

# Database
# Remote Atlas Connection
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/my-database?retryWrites=true&w=majority

# Local MongoDB Connection
MONGO_URI=mongodb://localhost:27017/express-boilerplate

# JWT Authentication (Forge)
JWT_ACCESS_SECRET=your_super_secret_access_jwt_key_here
JWT_REFRESH_SECRET=your_super_secret_refresh_jwt_key_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cookies
COOKIE_SECRET=your_super_secret_cookie_key_here

# Swagger / OpenAPI
SWAGGER_ENABLED=true
SWAGGER_TITLE=My API
SWAGGER_VERSION=1.0.0
SWAGGER_DESCRIPTION=API documentation
